<p class="routing_heading"><%= t'routing.error_page.config_error.title' %></p>
<table class="routing_warning_message" border="0">
   <tr>
      <td valign="top" style="padding-right: 10px;">
         <%= image_tag("routing/config.png", :border => 0) %>
      </td>
      <td valign="center"><%= t'routing.error_page.config_error.info_text' %></td>
   </tr>
</table>
