<p class="routing_heading"><%= t'routing.error_page.maintenance.title' %></p>
<table class="routing_warning_message" border="0">
   <tr>
      <td valign="top" style="padding-right: 10px;">
         <%= image_tag("routing/maintenance.png", :width => 60, :border => 0) %>
      </td>
      <td valign="center"><%= t'routing.error_page.maintenance.info_text' %></td>
   </tr>
</table>
